<section class="relative block px-6 py-10 md:py-20 md:px-10 mx-10 my-8 rounded-lg border-b border-pink-950 bg-slate-950 shadow">

    <div class="relative mx-auto max-w-5xl text-center">
      <span class="my-3 flex items-center justify-center text-amber-400 font-medium uppercase tracking-wider">
          Experience
      </span>
      <h1 class="mb-5 text-3xl font-semibold text-white md:text-center md:text-5xl">
          Skills
      </h1>
    </div>

    <div class="mx-20 my-10 leading-6 flex flex-row flex-wrap gap-2 items-center justify-center">
        <span *ngFor="let skill of skillsData" 
        class="bg-gray-100 text-black text-xs font-medium px-2.5 py-1.5 rounded dark:bg-amber-300 dark:text-black">
            {{ skill }}
        </span>
    </div>

</section>