<app-heading-block [headingData$]=[headingData$]></app-heading-block>

<section class="relative block px-3 py-6 md:px-8 md:py-7 mx-1 my-1 md:mx-10 md:my-1 rounded-lg border-b border-pink-950 bg-slate-950 shadow text-white">
  
    <editor
        apiKey="test"
        (onSaveContent)="addContent()"
        [(ngModel)]="html"
        [init]="{
        height: 800,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount',
            'save'
        ],
        toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
            }">
    </editor>
    
    <br>
    
    <form [formGroup]="newContentForm" (ngSubmit)="addContent()">

        <div class="py-2">
            <label for="title" class="pb-1">
            title
            </label>&nbsp;
            <input id="title" type="text" formControlName="title" class="p-2 text-black">
        </div>

        <div class="py-2">
            <label for="slug" class="pb-1">
            slug
            </label>&nbsp;
            <input id="slug" type="text" formControlName="slug" class="p-2 text-black">
        </div>

        <div class="py-2">
            <label for="collectionName" class="pb-1">
            collectionName
            </label>&nbsp;
            <input id="collectionName" type="text" formControlName="collectionName" class="p-2 text-black">
        </div>

        <div class="py-2">
            <label for="blogType" class="pb-1">
            blogType
            </label>&nbsp;
            <input id="blogType" type="text" formControlName="blogType" class="p-2 text-black">
        </div>

        <br>
        <button class="button" type="submit"><strong>Add data</strong></button>
        <br>

    </form>

</section>