<nav class="relative block bg-slate-950 py-3 px-4 border-t border-slate-700 space-x-6 text-center">

    <p class="relative mx-auto text-center text-amber-300 text-xs md:text-lg">
        &copy; Luke Jones, {{ currentYear }}
    </p>

    <p class="relative mx-auto text-center text-xs md:text-lg mt-1">
        <span class="font-bold text-slate-200 mr-1">Enjoy:</span>
        <a class="text-slate-300" href="https://www.youtube.com/watch?v=Wo3ny2H8zkA">
            The Social Network theme (800% Slower)
        </a>
    </p>

</nav>