<nav class="sticky top-0 z-50 bg-amber-400 py-3 px-4 flex items-center justify-between border-b space-x-6">

  <!-- <span class="font-bold text-xl text-amber-400 tracking-wider" [routerLink]="/">{{ HeaderTitle }}</span> -->
 
  <div class="flex items-center text-slate-950">

    <span [routerLink]="['/blog/']" routerLinkActive="rounded-full bg-pink-700 text-white"class="text-sm px-4 py-2 leading-none rounded-full hover:bg-amber-300 hover:text-pink-950">'5 cents'</span>
    <!-- <span [routerLink]="['']" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700">Research Projects</span> -->
    <!-- <span [routerLink]="['']" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700">Tags [v]</span> -->
    <span [routerLink]="['']" routerLinkActive="rounded-full bg-pink-700 text-white" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-amber-300 hover:text-pink-950">Codebases</span>
    <!-- <span [routerLink]="['']" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700">Courses</span> -->
    <span [routerLink]="['/cv/']" routerLinkActive="rounded-full bg-pink-700 text-white" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-amber-300 hover:text-pink-950" >CV/Resume</span>
    <!-- <span class="inline-flex rounded-lg bg-pink-900 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-pink-600 hover:bg-pink-700 hover:ring-pink-700"
    href="mailto:recruitlukejones@gmail.com">
        Contact
    </span> -->

  </div>

  <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-4">
    <!-- <span [routerLink]="https://k1n4kut4.github.io/" target="_blank" class="text-md font-semibold leading-6 text-white"><fa-icon [icon]="faGithub"></fa-icon></span>
    <span [routerLink]="https://www.linkedin.com/in/lukejones123/" target="_blank" class="text-md font-semibold leading-6 text-white"> <fa-icon [icon]="faLinkedin"></fa-icon></span> -->
    <!-- <span [routerLink]="mailto:recruitlukejones@gmail.com" class="text-md font-semibold leading-6 text-white"><fa-icon [icon]="faEnvelope"></fa-icon></span> -->
   </div>

</nav>