<nav class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between space-x-10 mb-5">
  <a class="font-bold text-xl tracking-tight" href="#">{{ HeaderTitle }}</a>
  <div class="flex items-center">
    <a href="/blog" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700">Blog</a>
    <a href="/cv" class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" >CV/Resume</a>
  </div>
  <div class="hidden lg:flex lg:flex-1 lg:justify-end space-x-4">
    <a href="https://k1n4kut4.github.io/" class="text-md font-semibold leading-6 text-white"><fa-icon [icon]="faGithub"></fa-icon></a>
    <a href="hhttps://www.linkedin.com/in/lukejones123/" class="text-md font-semibold leading-6 text-white"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    <a href="ailto:recruitlukejones@gmail.com" class="text-md font-semibold leading-6 text-white"><fa-icon [icon]="faEnvelope"></fa-icon></a>
  </div>
</nav>