<div>
    <div>
        <span class="flex h-12 w-12 items-center justify-center rounded-xl bg-pink-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                class="h-8 w-8 text-white">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M126.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z">
                </path>
            </svg>
        </span>
    </div>
    <div class="mt-6">
        <h2 class="text-3xl font-bold tracking-tight text-white">
            Luke Jones MSC (Dist), CSM
        </h2>
        <p class="mt-4 text-lg text-gray-300">Software Engineer ....Masters in Computer Science ....somewhere in a corner of this rainy isle, drinking lethal quantanties of coffee, writing JavaScript, Python, or occasionally, English... almost. If not, hacking up a Raspberry Pi, redesigning workflows, or experimenting with Lora models.</p>
    </div>
</div>