<app-text-heading headingText="CV / Resume"></app-text-heading>

<section id="projects" class="relative block px-6 py-10 md:py-20 md:px-10 rounded-lg border-b border-pink-600 bg-gray-900 my-8 shadow">

    <div class="relative mx-auto max-w-5xl text-center">
        <span class="my-3 flex items-center justify-center text-amber-400 font-medium uppercase tracking-wider">
            Blah blah
        </span>
        <h1 class="mb-5 text-3xl font-semibold text-white md:text-center md:text-5xl">
            Blog
        </h1>
        <p class="text-xl md:text-center text-gray-400 md:text-2xl">
            Waffle, and maybe something of utility
        </p>
    </div>

    Please see LinkedIn profile

    <app-bio></app-bio>

    <app-skill></app-skill>

    <!-- <app-block-experience *ngFor="let experienceItem of resumeData$ | async" experienceItemDetails="{{ experienceItem }}"></app-block-experience> -->

</section>