Fan of <a href="https://en.wikipedia.org/wiki/Muhammad_ibn_Musa_al-Khwarizmi">al-Khwarizmi</a>, <a href="">Turing</a>, <a href="https://en.wikipedia.org/wiki/Colossus_computer">Tommy Flowers</a>, Sir Tim Berners-Lee, and <a href="https://www.hannahfry.co.uk/">Hannah Fry</a>. I love Bletchley Park.

<app-text-heading headingText="Luke Jones - CV / Resume"></app-text-heading>

<app-bio></app-bio>

<app-skill></app-skill>

<app-block-experience></app-block-experience>

My TeamTreehouse profile and score

GitHub handle: k1n4kut4