<app-heading-block [headingData$]=[headingData$]></app-heading-block>

<section class="relative block mx-1 my-1 md:mx-10 md:my-0 p-0 m-0 rounded-lg border-b border-pink-950 bg-slate-950 shadow">
    <p class="mb-0 mt-0 font-semibold text-base text-white md:text-center">
        <a rel="noopener" href="https://www.linkedin.com/in/lukejones123/" target="_blank">
            Please see LinkedIn profile <fa-icon [icon]="faLinkedin" class="w-6 ml-2 mt-2 fa-lg text-amber-400"></fa-icon>
        </a>
    </p>
</section>

<app-bio></app-bio>

<section class="relative block px-6 py-10 md:px-0 md:py-20 mx-10 my-0 rounded-lg border-b border-pink-950 bg-slate-950 shadow">

    <div *ngIf="resumeItems$" class="pt-16 pb-4 flex flex-row flex-wrap items-center justify-center">
        <ng-container *ngFor="let rI of resumeItems$">
            <app-block-experience [experienceItemDetails]=[rI]></app-block-experience>
        </ng-container>
    </div>
    
</section>


<ng-container *ngIf="skillsData$">
	<app-skills [skillsData$]="skillsData$" [skillsCategoriesData$]="skillsCategoriesData$"></app-skills>
</ng-container>