<section class="relative block px-6 py-10 md:py-20 md:px-10 mx-10 my-8 rounded-lg border-b border-pink-950 bg-slate-950 shadow">
    
    <div class="relative mx-auto max-w-5xl text-center">
        <span class="my-3 flex items-center justify-center text-amber-400 font-medium uppercase tracking-wider">
            Experience
        </span>
        <h1 class="mb-5 text-3xl font-semibold text-white md:text-center md:text-5xl">
            GitHub scribbles
        </h1>
        <p class="text-xl md:text-center text-gray-400 md:text-2xl">
            Snippets, dabbles, and all that !
        </p>
    </div>

    <div class="pt-10 flex flex-row flex-wrap items-center justify-center">
        <div class="relative mx-20 max-w-7xl z-10 grid grid-cols-1 gap-10 px-12 sm:grid-cols-1 lg:grid-cols-3 gt-lg:grid-cols-4">        
            <ng-container *ngFor="let project of projectData$">
                <app-card cardDetails="{{ project | json }}"></app-card>
            </ng-container>
        </div>
    </div>

</section>
      