<section class="relative overflow-hidden bg-gray-900 my-8 pt-16 pb-32 rounded-lg border-b space-y-24">
    
    <div class="relative mx-auto max-w-5xl text-center">
        <span class="my-3 flex items-center justify-center text-amber-400 font-medium uppercase tracking-wider">
            Experience
        </span>
        <h1 class="mb-5 text-3xl font-semibold text-white md:text-center md:text-5xl">
            GitHub scribbles
        </h1>
        <p class="text-xl md:text-center text-gray-400 md:text-2xl">
            Snippets, dabbles, and all that !
        </p>
    </div>

    <div class="relative mx-0 max-w-7xl z-10 grid grid-cols-1 gap-10 px-12 sm:grid-cols-2 lg:grid-cols-3 items-center justify-center">
        
        <div *ngFor="let project of projectData$">
            <!-- {{ project | json }} -->
            <app-card cardDetails="{{ project | json }}"></app-card>
        </div>

    </div>

</section>
      