<ng-container *ngIf="isDarkScheme; else lightScheme">
    <span routerLink="{{ linkPath$ }}" 
        target="{{ target$ }}"
        routerLinkActive="rounded-full bg-pink-700 text-white font-bold hover:bg-pink-700 hover:text-white hover:rounded-full" 
        class="text-sm px-4 py-2 leading-none rounded-full font-semibold text-slate-950 hover:bg-amber-500 hover:text-slate-950">

        {{ title$ }}
        
        <ng-container *ngIf="icon">
            <fa-icon [icon]="faIconData"></fa-icon>
        </ng-container>
        
    </span>
</ng-container>

<ng-template #lightScheme>
    <span routerLink="{{ linkPath$ }}" 
        target="{{ target$ }}"
        routerLinkActive="rounded-full bg-slates-700 text-white font-bold hover:bg-slates-600 hover:text-white hover:rounded-full" 
        class="text-sm px-4 py-2 leading-none rounded-full font-semibold text-white bg-slates-950 hover:bg-slates-600 hover:text-white">

        {{ title$ }}
        
        <ng-container *ngIf="icon">
            <fa-icon [icon]="faIconData"></fa-icon>
        </ng-container>
        
    </span>
</ng-template>
