.portfolio-card 
  background-color: #e0e0e0
  padding: 10px
  margin: 10px
  border-radius: 10px

.portfolio-header-image 
  background-size: cover

mat-card-header 
  font-weight: 500

.content 
  padding: 16px

.content mat-card 
  margin-bottom: 16px

.content mat-card 
  min-width: 250px