<app-text-heading headingText="Luke Jones"></app-text-heading>

<app-bio></app-bio>

<app-skill></app-skill>

<app-blog></app-blog>

<div fxLayout.gt-sm="row" fxLayout.sm="column" id="magic-grid" fxLayoutWrap fxLayoutGap="0.5%">
  <div *ngFor="let card of projectData$ | async" class="card-portfolio" fxFlex="30" fxFlex.gt-md="25">
    <mat-card class="portfolio-card mat-elevation-z4" data-id="{{ card.project_url }}">
      <mat-card-header>{{ card.title }}</mat-card-header>
      <img mat-card-image src="{{ card.img_src }}">
      <mat-card-content>{{ card.content }}</mat-card-content>
      <mat-card-actions>
        <a href="{{ card.project_url }}" class="btn btn-primary">read more</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div fxLayout="row">
  <mat-paginator [pageSizeOptions]="[3, 12, 60]"></mat-paginator>
</div>