<section class="relative block px-1 md:px-0 py-1 md:pt-2 md:pb-1 mx-0 md:mx-10 my-1 md:my-2 rounded-lg border-b border-pink-950 bg-slate-950 shadow">

    <div class="relative mx-auto w-fit max-w-fit text-center">
        <app-tagline-small [taglineText]="[taglineSmallText]"></app-tagline-small>
        <app-text-heading [headingText]="[headingText]" header="header" fontWeight="semibold" header="y" alignment="alignment" mb="mb"></app-text-heading>
        <app-tagline [taglineText]="[taglineText]"></app-tagline>
    </div>
    
</section>