<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<main class="main mx-auto min-w-full overflow-x-hidden bg-gradient-to-r from-rose-700 via-fuchsia-950 to-indigo-950 mix-blend-screen ">

  <!-- <app-header [headerData]=[headerData$] [mainMenuData]=[mainMenuData$] [linksMenuData]=[linksMenuData$]></app-header> -->

  <router-outlet></router-outlet>

  <app-footer [footerData]=[footerData$]></app-footer>

</main>