<section class="relative block px-6 py-10 md:px-0 md:py-20 mx-10 my-8 rounded-lg border-b border-pink-950 bg-slate-950 shadow">
    
    <div class="relative mx-auto max-w-5xl text-center">
        <app-tagline-small taglineText="Experience"></app-tagline-small>
        <app-text-heading headingText="GitHub scribbles" alignment="center" mb="5"></app-text-heading>
        <app-tagline taglineText="Snippets, dabbles, and all that !"></app-tagline>
    </div>

    <div class="pt-16 pb-4 flex flex-row flex-wrap items-center justify-center">
        <div class="relative mx-20 max-w-7xl z-10 grid grid-cols-1 gap-10 px-12 sm:grid-cols-1 lg:grid-cols-3 gt-lg:grid-cols-4">        
            <ng-container *ngFor="let project of projectData$">
                <app-card cardDetails="{{ project | json }}"></app-card>
            </ng-container>
        </div>
    </div>

</section>
      