<div class="max-w-4xl flex items-center h-auto flex-wrap mx-auto my-0 lg:my-28">
    
	<div id="profile" class="w-full lg:w-3/5 mb-6 mt-5 lg:mx-0 mb-0 rounded-lg border-b border-pink-950 bg-slate-950 shadow">
	
		<div class="p-4 md:p-12 text-center lg:text-left">

			<!-- img: mobile view-->
			<div class="mobile-view block lg:hidden rounded-full shadow-xl mx-auto mt-6 mb-6 h-48 w-48 bg-cover bg-center"></div>	

            <app-tagline-small [taglineText]=[appValues.PORTFOLIO_TAGLINE]></app-tagline-small>
            <app-text-heading headingText="{{ appValues.PORTFOLIO_OWNER }}" textSize="35" alignment="center" mb="1"></app-text-heading>
            <app-tagline [taglineText]=[appValues.PORTFOLIO_OWNER_POSTNOMINALS]></app-tagline>

			<p class="pt-1 pb-1 text-sm md:text-sm text-gray-300 font-bold text-center">
				{{ appValues.WEBSITE_NAME }}
            </p>
			
			<div class="mx-auto lg:mx-0 w-5/5 pt-3 md:pt-8 border-b-2 border-amber-500"></div>

			<p class="pt-4 text-base text-sm md:text-base text-white font-bold flex text-left">
				<fa-icon [icon]="faBriefcase" class="w-6 mr-2 lg:mr-4 text-amber-400"></fa-icon>
				{{ appValues.PORTFOLIO_JOB_TITLE}}
            </p>

			<p class="pt-4 text-base text-sm md:text-base text-slate-200 font-light flex text-left">
				<fa-icon [icon]="faUserPlus" class="w-6 mr-2 lg:mr-4 text-amber-400"></fa-icon>
				{{ appValues.PORTFOLIO_DEV_TYPES}}
            </p>

			<p class="pt-4 text-base text-sm md:text-base text-white font-bold flex text-left">
				<fa-icon [icon]="faCode" class="w-6 mr-2 lg:mr-4 text-amber-400"></fa-icon>
				{{ appValues.PORTFOLIO_LANGUAGES}}
            </p>

			<p class="pt-2 text-slate-300 text-sm md:text-base flex text-left">
                <fa-icon [icon]="faFileLines" class="w-6 mr-2 text-amber-400"></fa-icon>
				{{ appValues.PORTFOLIO_EXPERIENCE }}
            </p>

			<p class="pt-2 text-slate-300 text-sm md:text-base flex text-left">
                <fa-icon [icon]="faLocationPin" class="w-6 mr-2 text-amber-400"></fa-icon>
				{{ appValues.PORTFOLIO_LOCATION }}
            </p>

			<p class="pt-4 md:pt-8 pb-2 text-sm md:text-sm text-pink-600 font-bold text-center">
				{{ appValues.PORTFOLIO_ELEVATOR }}
            </p>

			<div class="py-0 md:py-4 text-center">
				<app-button [buttonText]=[appValues.BUTTON_TEXT_READ_MORE] buttonURL="cv"></app-button>
			</div>

			<!-- home: social icons -->
			<ng-container #vcr></ng-container>

		</div>

	</div>
	
	<!--img: desktop view -->
	<div class="w-full lg:w-2/5">
		<img alt="profile" src="./../../../assets/imgs/lego_man.png" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
	</div>

</div>

<ng-container *ngIf="skillsData$">
	<app-skills [skillsData$]="skillsData$" [skillsCategoriesData$]="skillsCategoriesData$"></app-skills>
</ng-container>