<app-heading-block [headingData$]=[headingData$]></app-heading-block>

<section class="relative block rounded-lg border-b border-pink-950 bg-slate-950 shadow mx-0 md:mx-10">
    <p class="font-semibold text-base text-white text-center">
        <a rel="noopener" href="https://www.linkedin.com/in/lukejones123/" target="_blank">
            Please see LinkedIn profile <fa-icon [icon]="faLinkedin" class="w-6 mt-2 fa-lg text-amber-400"></fa-icon>
        </a>
    </p>
</section>

<app-bio></app-bio>

<section class="relative block flex flex-row flex-wrap rounded-lg border-b border-pink-950 bg-slate-950 shadow px-0 md:px-2 py-2 md:py-3 mx-0 md:mx-10 my-1 items-center justify-center">
    @if (resumeItems$) {
        @for (resumeItem of resumeItems$; track resumeItem) {
            <app-block-experience [experienceItemDetails]=[resumeItem] class="block"></app-block-experience>        
        }
    }
</section>

@if (skillsData$) {
	<app-skills [skillsData$]="skillsData$" [skillsCategoriesData$]="skillsCategoriesData$"></app-skills>
}